.profile{
  background-color: #fff;
  width: 100%;
  min-height: 90vh;
  color: #fff;
  padding: 30px;
  color: #000;
}

@media only screen and (min-height: 830px){
  .profile{
    min-height: 682px;
  }
}

.profile > p:nth-child(1){
  color: #484848;
  font-size: 15px;
  font-weight: 400;
}
.profile > p:nth-child(2){
  color: #484848;
  font-size: 15px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.pasporCard{
  max-width: 304px;
  height: 187px;
  position: relative;
  border-radius: 7px;
  box-shadow: 2px 2px 4px #00000040;
}
.pasporCard > img {
  max-width: 304px;
  height: 187px;
}

.pasporCard > p{
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0.5px 0.5px 1px #444;
  max-width: 195px;
  height: max-content;
}

.btn-LihatKartu{
  background-color: #fff;
  border: 1px solid #015A9E;
  border-radius: 8px;
  max-width: 304px;
  height: 39px;
  box-sizing: border-box;
  text-align: center;
  padding: 11px;
  cursor: pointer;
  margin: 13px 0;
}
.btn-LihatKartu > p{
  font-size: 12px;
  font-weight: 500;
  color: #015A9E;
}

.nomorKartu{
  max-width: 304px;
  height: max-content;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 10px 12px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nomorKartu > div{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.nomorKartu > div > p:nth-child(1){
  font-size: 12px;
  font-weight: 400;
  color: #015A9E;
}
.nomorKartu > div > p:nth-child(2){
  font-size: 15px;
  font-weight: 400;
  color: #797979;
}

.nomorKartu > img{
  width: 13px;
  height: max-content;
  cursor: pointer;
}

