.m-info{
  background-color: #002245;
  width: 100%;
  min-height: 90vh;
  color: #fff;
  padding: 40px 30px;
}

@media only screen and (min-height: 830px){
  .m-info{
    min-height: 682px;
  }
}

.card-info{
  max-width: 325px;
  min-height: 157px;
  background-color: #F8F8F8;
  border-radius: 5px;
  overflow: hidden;
}

.header-info{
  width: 100%;
  height: 69px;
  background-color: #E0E0E0;
  display: flex;
  gap: 14px;
  padding: 0 12px;
  align-items: center;
}

.header-info > img{
  width: 48px;
}
.header-info > p{
  color: #085192;
  font-weight: 700;
  font-size: 16px;
}

.menu-info{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.list-info{
  width: 100%;
  height: 34px;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: .3s;
}

.list-info:hover{
  border-bottom: 1px solid #c0c0c0;
  transition: .3s;
}

.list-info > p{
  color: #015A9E;
  font-size: 13px;
  font-weight: 400;
}
.list-info > svg{
  color: #0284C1;
  font-size: 10px;
}

.card-popup > div{
  margin-top: 20px;
}

.card-popup > div > .time-saldo{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.card-popup > div > .time-saldo > p{
  font-size: 13px;
  color: #000;
  letter-spacing: 0.1mm;
  font-weight: 500;
}

.card-popup > div > .info-saldo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 100px;
}

.card-popup > div > .info-saldo > p{
  font-size: 13px;
  color: #000;
  letter-spacing: 0.05mm;
  font-weight: 500;
}