*{
  box-sizing: border-box;
}
.pilihNomorRekening,
.formdataTransfer{
  background-color: #bebebe;
  width: 100%;
  min-height: 90vh;
  color: #fff;
  padding: 40px 30px;
}
.pilihNomorRekening{
  background-color: #D9D9D9;
}

@media only screen and (min-height: 830px){
  .pilihNomorRekening,
  .formdataTransfer{
    min-height: 682px;
  }
}

.card-formTransfer{
  max-width: 309px;
  height: max-content;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ADADAD;
  background-color: #F8F8F8;
}

.nominal-formTransfer div,
.list-formTransfer{
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border-bottom: 1px solid #ADADAD;
}
.list-formTransfer:nth-last-child(1){
  border-bottom: none;
}

.nominal-formTransfer > div,
.nominal-formTransfer,
.list-formTransfer:nth-last-child(1),
.list-formTransfer:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nominal-formTransfer > div:nth-child(1),
.list-formTransfer p:nth-child(1){
  color: #065CAA;
  font-size: 14px;
  font-weight: 600;
}
.nominal-formTransfer > div:nth-child(1){
  border-right: 1px solid #ADADAD;
  width: 30%;
}
.nominal-formTransfer > div:nth-child(2) > p,
.list-formTransfer p:nth-child(2){
  color: #9A9A9A;
  font-size: 13px;
  font-weight: 400px;
  text-transform: uppercase;
}


.headTransfer{
  max-width: 309px;
  height: 49px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
}
.headTransfer > div{
  width: 50%;
  color: #fff;
  padding: 17px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}
.headTransfer > div:nth-child(1){
  background-color: #BCBCBC;
}
.headTransfer > div:nth-child(2){
  background-color: #015EAB;
}

.searchRekening{
  background-color: #F8F8F8;
  max-width: 309px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #adadad80;
  margin-bottom: 8px;
}

.searchRekening > input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 15px;
}
.searchRekening > input::placeholder{
  font-size: 13px;
  font-weight: 300px;
  color: #8D8D8D;
}

.optionNomorRekening{
  max-width: 309px;
  max-height: 280px;
  border-radius: 5px;
  overflow: auto;
  background-color: #F8F8F8;
}

.optionNomorRekening::-webkit-scrollbar {
  width: 5px;
}
.optionNomorRekening::-webkit-scrollbar-track {
  background: var(--blackcolor);
width: 5px;
}
.optionNomorRekening::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 50px;
}
.optionNomorRekening::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.listNomor{
  width: 100%;
  height: 61px;
  padding: 13px;
  border-bottom: 1px solid #adadad80;
  cursor: pointer;
}
.listNomor > p:nth-child(1){
  font-size: 14px;
  font-weight: 600;
  color: #015EAB;
  text-transform: uppercase;
}

.listNomor > p:nth-child(2){
  font-size: 13px;
  font-weight: 400;
  color: #2E2E2E;
}

.listNomor:nth-last-child(1){
  border-bottom: none;
}

.listNomor:hover{
  background-color: #ebebeb;
}